---

# Create the namespace and other basic materials

- name: Create namespace ({{ maui_namespace }})
  k8s:
    definition: "{{ lookup('template', 'namespace.yaml.j2') }}"
    wait: yes

- name: Create DockerHub image pull secret
  k8s:
    definition: "{{ lookup('template', 'secret-dh-imagepull.yaml.j2') }}"
    wait: yes
  vars:
    pull_namespace: "{{ maui_namespace }}"
    pull_secret: "{{ maui_dockerhub_pullsecret }}"
  when: maui_dockerhub_pullsecret|string|length > 0

- name: Create namespace material
  k8s:
    definition: "{{ lookup('template', '{{ item }}.yaml.j2') }}"
    wait: yes
  loop:
  - serviceaccount
  - role
  - rolebinding-role-sa

- name: Relax ({{ maui_namespace }} 'default' service account (for cert-manager)
  k8s:
    definition: "{{ lookup('template', 'rolebinding-default-sa.yaml.j2') }}"
    wait: yes

# Deploy the application...

- name: Deploy application
  k8s:
    definition: "{{ lookup('template', '{{ item }}.yaml.j2') }}"
    wait: yes
    wait_timeout: "{{ pod_ready_timeout }}"
  loop:
  - configmap
  - statefulset
  - service
  - ingress
