---
kind: ConfigMap
apiVersion: v1
metadata:
  name: ui
  namespace: {{ maui_namespace }}
data:
  .env.production: |
    BASE_URL='https://{{ maui_hostname }}'
    BASE_PATH='/{{ maui_hostname_path }}'

    DATA_MANAGER_API_SERVER='https://{{ maui_data_manager_api_address }}'

    AUTH0_SECRET='{{ maui_auth0_secret }}'
    KEYCLOAK_URL='{{ keycloak_server_url }}'
    AUTH0_CLIENT_ID='{{ maui_keycloak_client_id }}'
    AUTH0_CLIENT_SECRET='{{ maui_keycloak_client_secret }}'
