---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: mini-apps-ui
  namespace: {{ maui_namespace }}
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      name: mini-apps-ui
  template:
    metadata:
      name: mini-apps-ui
      labels:
        name: mini-apps-ui
    spec:
{% if maui_priority_class %}
      priorityClassName: {{ maui_priority_class }}
{% endif %}
      serviceAccountName: mini-apps-ui

      containers:
      - name: mini-apps-ui
        image: {{ maui_image_name }}:{{ maui_image_tag }}
{% if maui_image_tag in ['latest', 'stable'] %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        terminationMessagePolicy: FallbackToLogsOnError
        ports:
        - containerPort: 3000
          name: http
        volumeMounts:
        - mountPath: /app/.env.production
          name: config-ui
          subPath: .env.production
          readOnly: true
        - mountPath: /app/motd.yaml
          name: config-ui
          subPath: motd.yaml
          readOnly: true
        env:
        # CICD_TRIGGER_ID is variable whose value is used to force
        # a redeployment of the underlying containers. This is used in
        # situations where the origin image's tag may not have changed
        # (e.g. it's 'latest' or 'stable') but a new build is expected to
        # be available. Without changing something in the Deployment spec
        # a roll-out will not occur if the tag has not changed.
        - name: CICD_TRIGGER_ID
          value: '{{ ansible_date_time.iso8601_micro }}'
        resources:
          requests:
            cpu: {{ maui_cpu_request }}
            memory: {{ maui_mem_request }}
{% if maui_cpu_limit or maui_mem_limit %}
          limits:
{% if maui_cpu_limit %}
            cpu: {{ maui_cpu_limit }}
{% endif %}
{% if maui_mem_limit %}
            memory: {{ maui_mem_limit }}
{% endif %}
{% endif %}

      volumes:
      - name: config-ui
        configMap:
          name: ui
