---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: mini-apps-ui
  namespace: {{ maui_namespace }}
{% if maui_dockerhub_pullsecret %}
imagePullSecrets:
- name: dockerhub-pull-secret
{% endif %}
