---
kind: Service
apiVersion: v1
metadata:
  name: data-manager-ui
  namespace: {{ ui_namespace }}
spec:
  selector:
    name: data-manager-ui
  ports:
  - name: http
    port: 80
    targetPort: http
